### Dictonary

- R1: Dictionary has no indexing
- R2: Dictionary is a mutable data types
- R3: keys- immutable, values->they can be mutable
- R4: keys should be unique

- Mutable data types: LIST,SET, DICTIONARY
- Immutable data types: STRING. TUPLES, INT, FLOAT, BOOLEAN, COMPLEX

##### how to create a dictionary

In [2]:
D={}

In [3]:
D

{}

In [4]:
D={'name':'shailesh','id':1740331}

In [5]:
D

{'name': 'shailesh', 'id': 1740331}

#### in the below shell key is a list which is mutable- it is against the rules of dictionary

In [6]:
D1={[1,2,3]:'shail'}

TypeError: unhashable type: 'list'

#### keys should be immutable

In [7]:
D1={(1,2,3):'shail'}

In [8]:
D1

{(1, 2, 3): 'shail'}

#### keys should be unique

In [9]:
D3={'name':'shailesh','name':'kittu'}
D3

{'name': 'kittu'}

#### creating 2d dictionary

In [10]:
D_marks={'name':'shailesh','roll':1740331,'marks':{
    'hindi':95,'maths':96,'english':75
}}

In [11]:
D_marks

{'name': 'shailesh',
 'roll': 1740331,
 'marks': {'hindi': 95, 'maths': 96, 'english': 75}}

#### Accessing items from a dictionary

In [12]:
d[0]

NameError: name 'd' is not defined

In [13]:
D[0]

KeyError: 0

In [14]:
D_marks['name']

'shailesh'

##### we need to provide the key to fetch the data- there is no indexing and slicing in dictionary

In [16]:
#fetching hindi marks from D_marks dictionary
D_marks['marks']['hindi']

95

#### Edit  dictionary

In [17]:
D_marks['name']='abhinav'

In [18]:
D_marks

{'name': 'abhinav',
 'roll': 1740331,
 'marks': {'hindi': 95, 'maths': 96, 'english': 75}}

In [19]:
D_marks['marks']['maths']=99

In [20]:
D_marks

{'name': 'abhinav',
 'roll': 1740331,
 'marks': {'hindi': 95, 'maths': 99, 'english': 75}}

##### we are using get() function to fetch the data from a dictionary instead of [] braces

In [21]:
D_marks.get('name')

'abhinav'

#### adding new key value pair

In [22]:
D_marks['class_teacher']='pranati behra'

In [23]:
D_marks

{'name': 'abhinav',
 'roll': 1740331,
 'marks': {'hindi': 95, 'maths': 99, 'english': 75},
 'class_teacher': 'pranati behra'}

In [24]:
D_marks['marks']['science']=90

In [25]:
D_marks

{'name': 'abhinav',
 'roll': 1740331,
 'marks': {'hindi': 95, 'maths': 99, 'english': 75, 'science': 90},
 'class_teacher': 'pranati behra'}

#### deleting a dictionary

##### using del() fuction

In [26]:
del D1

In [27]:
D1

NameError: name 'D1' is not defined

In [28]:
D2

NameError: name 'D2' is not defined

In [29]:
D3

{'name': 'kittu'}

In [30]:
del D3['name']

In [31]:
D3

{}

In [32]:
D4

NameError: name 'D4' is not defined

In [33]:
D5

NameError: name 'D5' is not defined

In [34]:
D1

NameError: name 'D1' is not defined

In [35]:
D1={'name':'shailesh','company':'TCS','empId':'1740331'}
D1

{'name': 'shailesh', 'company': 'TCS', 'empId': '1740331'}

In [38]:
D1.clear()

In [39]:
D1

{}

In [42]:
#when using loop on a dictionary- we get keys
for i in D_marks:
    print(i,D_marks[i])

name abhinav
roll 1740331
marks {'hindi': 95, 'maths': 99, 'english': 75, 'science': 90}
class_teacher pranati behra

In [43]:
'name' in D_marks

True

In [44]:
'shailesh' in D_marks

False

In [45]:
# while using "in" it checks for the keys not values

In [46]:
len(D_marks)

4

In [47]:
min(D_marks)

'class_teacher'

In [48]:
max(D_marks)

'roll'

In [49]:
D_marks.keys()

dict_keys(['name', 'roll', 'marks', 'class_teacher'])

In [50]:
D_marks.values()

dict_values(['abhinav', 1740331, {'hindi': 95, 'maths': 99, 'english': 75, 'science': 90}, 'pranati behra'])