**LIST in pyhton**
- what is a list?

- List is heterogenous. Array is homongenous- same data type
- Arrays are stored in  contagious fashion that's why there are faster
- Lists are programmer friendly

#####  homogenous list- elements are of same type

In [2]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

##### heterogenous list-elements are of different data types

In [5]:
l1=[1,'shail',True,2.5,1+2j]
print("The heterogenous list elements are {}".format(l1))

The heterogenous list elements are [1, 'shail', True, 2.5, (1+2j)]

##### Multi-dimensional list

In [7]:
L3=[1,2,4,[6,7]]
print(L3)

[1, 2, 4, [6, 7]]

In [9]:
L4=list("shailesh")
L4

['s', 'h', 'a', 'i', 'l', 'e', 's', 'h']

In [10]:
L

NameError: name 'L' is not defined

In [11]:
L=[1,2,4,5]

In [12]:
print(L)

[1, 2, 4, 5]

In [13]:
L[0]='shail'
print(L)

['shail', 2, 4, 5]

#### List in python are mutable

In [15]:
L[2:4]=[100,200]
print(L)

['shail', 2, 100, 200]

##### append() in pyhton

In [16]:
L

['shail', 2, 100, 200]

In [19]:
L.append(1000)
#adds an element at the last

In [18]:
L

['shail', 2, 100, 200, 1000]

In [20]:
L.append('hello')
L

['shail', 2, 100, 200, 1000, 1000, 'hello']

##### use extend() function if you wanna add multiple items to a list

In [21]:
L.extend([56.400,400])
L

['shail', 2, 100, 200, 1000, 1000, 'hello', 56.4, 400]

In [23]:
#while trying to add multiple item using append -it adds them as list
L.append([500,600])
L

['shail', 2, 100, 200, 1000, 1000, 'hello', 56.4, 400, [500, 600], [500, 600]]

**Since appednd() and extend() function adds item at the end we need to use insert function for adding item at a specific positon**

In [24]:
L.insert(3,'world')
L

['shail',
 2,
 100,
 'world',
 200,
 1000,
 1000,
 'hello',
 56.4,
 400,
 [500, 600],
 [500, 600]]

#### Delete inside a list
- DEL
- remove
- pop 
- clear

In [25]:
del L3

In [26]:
L3

NameError: name 'L3' is not defined

In [27]:
print(L)
print('-----------------------')
del L[0]
print(L)

['shail', 2, 100, 'world', 200, 1000, 1000, 'hello', 56.4, 400, [500, 600], [500, 600]]
-----------------------
[2, 100, 'world', 200, 1000, 1000, 'hello', 56.4, 400, [500, 600], [500, 600]]

In [29]:

del L[-2]
print(L)

[2, 100, 'world', 200, 1000, 1000, 'hello', 56.4, [500, 600]]

##### when index position is unknown but the item exist- use remove

In [30]:
L.remove('hello')
print(L)

[2, 100, 'world', 200, 1000, 1000, 56.4, [500, 600]]

##### pop() - deletes the last element

In [31]:
L.pop()

[500, 600]

##### to clear a list use clear() function

In [32]:
L.clear()

In [33]:
L

[]

In [41]:
L={10,200,33,14,5}

#length of a list
len(L)

#min
print("The length  of the list {} is {}".format(L,min(L)))

#max
print("The length  of the list {} is {}".format(L,max(L)))

The length  of the list {33, 5, 200, 10, 14} is 5
The length  of the list {33, 5, 200, 10, 14} is 200

In [42]:
sorted(L)

[5, 10, 14, 33, 200]

In [43]:
sorted(L,reverse=True)

[200, 33, 14, 10, 5]

In [44]:
L

{5, 10, 14, 33, 200}

In [47]:
#sorted gives a new list and sort makes changes in the list itself

In [48]:
sample='how are you?'

In [53]:
print(sample.split())

['how', 'are', 'you?']

In [63]:
sample='today has been a great day for me'

In [64]:
L3=[]
L4=None
for i in sample.split():
    L3.append(i.capitalize())
    L4=" ".join(L3)
print(L4)

Today Has Been A Great Day For Me

In [60]:
print(" ".join(L3))

How Are You?

In [65]:
#"abc@gmail.com"

l4="abc@gmail.com"
l4.find('@')

3

In [66]:
print(l4[:l4.find('@')])

abc