### Tuples are read-only data type

### Tuples
- create
- Access
- Edit
- Add
- Delete
- Operations
- Functions

#### Create

In [2]:
T1=()
T1

()

In [5]:
T2=(1,2,3,4,5)
print("Homogenous tuples ",T2)

Homogenous tuples  (1, 2, 3, 4, 5)

In [6]:
T3=(1,2,'hi',3.5)
print("Heterogenous tuples",T3)

Heterogenous tuples (1, 2, 'hi', 3.5)

In [7]:
T4=(1,2,3,(4,5))
print("Multi-dim tuples",T4)

Multi-dim tuples (1, 2, 3, (4, 5))

In [14]:
T5=(1)
print(type(T5))
#single item tuple creation is bit different. 
T5=(1,) # put comma after the item in case of single item tuple
print(type(T5))
print(T5)

<class 'int'>
<class 'tuple'>
(1,)

In [15]:
#using tuple function for tuple creation

T6=tuple("goa")
print(T6)

('g', 'o', 'a')

In [16]:
T7=tuple([1,2,4,5,6])
print(T7)

(1, 2, 4, 5, 6)

#### Access

In [17]:
T2[0]

1

In [18]:
T3[4]

IndexError: tuple index out of range

In [20]:
T4[3][0]

4

##### tuple doesn't support item editing- tuples just like string are immutable

##### this  is the primary difference between tuple and list

##### we cannot append new item to the tuple

In [22]:
del T1

In [35]:
T1=(1,2,3,4)
T2=(3,4,5,6)

#concatenation can be performed
print(T1+T2)

#arithematic operations cannot be performed on tuples

print("MAx ",max(T1))
print("MIN ",min(T1))
print("sort ",sorted(T1,reverse=True))

(1, 2, 3, 4, 3, 4, 5, 6)
MAx  4
MIN  1
sort  [4, 3, 2, 1]

#### conc- we can use del for deleting entire tuple

## SETS

**There are four rules of sets**
- sets do not allow duplicates
- sets do not allow indexing/sciling
- sets do not allow mutable datatype
- sets itself are mutable datatype

### creating empty sets

In [36]:
S1={}
print(S1)
print(type(S1))

{}
<class 'dict'>

##### both dictionary and sets use curly braces, by default empty set is considered as dictionary

In [38]:
#you can create empty set using set() function
S1=set()
print(type(S1))

<class 'set'>

#### homogenous set

In [39]:
S2={1,2,4,5}
print(S2)

{1, 2, 4, 5}

#### heterogenous set

In [40]:
S3={'hello',1,2,3.5}
print(S3)

{'hello', 2, 3.5, 1}

#### Rule-1 Sets don't allow duplicates

In [42]:
S1={1,1,2,2,3,4,4,5}
print(S1)

{1, 2, 3, 4, 5}

#### Rule- Sets do not allow mutable data types

In [43]:
S6={'hello',[1,2,3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [47]:
S7={(1,2,3),'hello'}
print(S7)

{'hello', (1, 2, 3)}

##### conclusion- If you look at the order of data output, it has changed, as discussed it doesn't follow indexing, it follows hashing

#### What is hashing?
######

#### Access itesm

In [49]:
S1[0]

TypeError: 'set' object is not subscriptable

In [50]:
S1[0:3]

TypeError: 'set' object is not subscriptable

##### you cannot access and edit items

In [51]:
print(list(S1))

[1, 2, 3, 4, 5]

##### you can convert a set into list and then edit the list and finally convert the list back to set. but the memory address of new set is changed.

#### you can add items to the set

In [52]:
S1.add(23)

In [53]:
print(S1)

{1, 2, 3, 4, 5, 23}

#### Delete
- del
- remove
- pop

In [55]:
del S2

In [56]:
print(S2)

NameError: name 'S2' is not defined

In [57]:
del S3[0]

TypeError: 'set' object doesn't support item deletion

In [58]:
S3

{1, 2, 3.5, 'hello'}

In [59]:
S3.remove(3.5)

In [60]:
S3

{1, 2, 'hello'}

In [61]:
S3.pop()

'hello'

#### set operations

In [62]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
print(s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [63]:
for i in s1:
    print(i)

1
2
3
4
5

In [64]:
1 in s1

True

#### Function

In [65]:
len(s1)

5

In [66]:
min(s1)

1

In [67]:
max(s1)

5

In [68]:
sum(s1)

15

In [69]:
sorted(s1)

[1, 2, 3, 4, 5]

In [70]:
sorted(s1,reverse=True)

[5, 4, 3, 2, 1]

In [71]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [72]:
s1.intersection(s2)

{3, 4, 5}

In [73]:
s1.difference(s2)

{1, 2}

In [74]:
s2.difference(s1)

{6, 7}

In [75]:
s1.symmetric_difference(s2)

{1, 2, 6, 7}

In [76]:
s1.isdisjoint(s2)

False

In [81]:
s1.update({2})
print(s1)

{1, 2, 3, 4, 5, '2'}

In [83]:
type(s1.pop())

int

In [84]:
s1

{2, '2', 3, 4, 5}